
@font-face {

	font-family: "calibri";
	src: url('calibri.ttf');
}

@font-face {

	font-family: "trebuc";
	src: url('trebuc.ttf');
}

.headline .headline-name {

	font-family: "calibri";
	font-size: 55px;
	font-weight: bold;
	letter-spacing: 0.03em;
	word-spacing: 0.05em;
}

.headline .headline-job-experience {

	font-family: "trebuc";
	bottom: 15px;
	font-weight: bold;
	font-size: 17px;
	left: 1px;
/*	color: black;*/
}

.headline .headline-contact-us-1 {

	font-family: "trebuc";
	color: lightgray;
	left: 1px;
	font-size: 16px;
}

.headline .headline-contact-us-2 {

	font-family: "trebuc";
	color: lightgray;
	left: 1px;
}

[href^="mailto"], [href^="https://api.whatsapp.com"] {

	font-size: 16px;
}

.headline-contact-us-1 .fa-phone, .headline-contact-us-1 .fa-envelope {

	font-size: 12px;
}

.headline-contact-us-1 .fa-envelope {

/*	top: 6.5px;*/
}

.headline-contact-us-1 .fa-phone {

	bottom: 1px;
}

.headline-contact-us-2 .fa-map-marker-alt {

	top: 2px;
	left: 1px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

	.headline .headline-name {

		font-size: 45px;
	}

	.headline .headline-job-experience {

		font-size: 13px;
		bottom: 13px;
		left: 1px;
	}		
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

	.headline .headline-name {

		font-size: 30px;
	}		

	.headline .headline-job-experience {

		font-size: 9px;
		bottom: 10px;
		left: 1px;
/*		color: red;*/
	}	
}

@media only screen and (max-width: 575px) {

	.headline .headline-name {

		font-size: 12px;
	}		

	.headline .headline-job-experience {

		font-size: 4px;
		bottom: 4px;
		left: 0.5px;
/*		color: blue;*/
	}

	[href^="mailto"], [href^="https://api.whatsapp.com"] {

		font-size: 7px;
	}

	.headline-contact-us-1 .fa-phone {

		font-size: 7px;
	}

	.headline-contact-us-1 .fa-envelope {

		font-size: 8.5px;
	}

	.contact-us-address .fa-map-marker-alt {

		font-size: 7px;
		bottom: 1px;
	}
}